#symbol_map {
	/* top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px;*/
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: lightblue; 
}